.directions-block-title * {
    @apply font-roboto-condensed text-[28px] leading-[36px] md:text-[36px] md:leading-[47px] lg:text-[42px] lg:leading-[54px] xl:text-[56px] xl:leading-[73px] 2xl:text-[64px] 2xl:leading-[83px]
}

.dark-gradient {
    background-image: linear-gradient(rgba(10, 10, 10, 0.2), rgba(10, 10, 10, 0.9));
}

.projects-gradient {
    transition: 300ms;
    opacity: 0.8;
    /*background-image: linear-gradient(rgba(10, 10, 10, 0.6), rgba(10, 10, 10, 0.3));*/
    background-image: linear-gradient(rgba(10, 10, 10, 0.8), rgba(10, 10, 10, 0.4));
}

.project-card:hover .projects-gradient {
    opacity: 1;
}

/*.projects-gradient {*/
/*    background: linear-gradient(-45deg, #ed193b, #a98055, #f286e2, #681d7a);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 10s ease infinite;*/
/*}*/
/*@keyframes gradient {*/
/*    0% { background-position: 0% 50%; }*/
/*    50% { background-position: 100% 50%; }*/
/*    100% { background-position: 0% 50%; }*/
/*}*/

.radial-gradient {
    background-image: radial-gradient(rgba(10, 10, 10, 0.91), rgba(10, 10, 10, 1));
}

.map-background {
    background-image: url("../public/map.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.burger {
    width: 23px;
    height: 2px;
    background-color: currentColor;
    position: relative;
    display: block;
    transition: 200ms;
}

.burger::before, .burger::after, .burger-line::before, .burger-line::after  {
    content: '';
    width: 23px;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    left: 0;
    transition: 200ms;
    transform-origin: center;
}

.burger::before {
    top: -6px;
}

.burger::after {
    top: 6px;
}

.burger-active {
    background-color: transparent;
}

.burger-active::before, .burger-active::after {
    opacity: 0;
}

.burger-line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.burger-active .burger-line::before {
    transform: rotate(45deg);
}

.burger-active .burger-line::after {
    transform: rotate(-45deg);
}
